body {
  /* background-image: url("../images/background/black_wood.png");
  
    background-position: center center;
    background-size: cover; */

  /* zoom: 225%; */
}

h1 {
  font-size: 60px;
}

p.name {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

p.price {
  font-size: 20px;
  margin-bottom: 8px;
}

p.description {
  font-size: 14px;
  margin-bottom: 8px;
}

img.artikel {
  margin-top: 15%;
  width: 100%;
}

pre {
  margin-top: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  margin-bottom: 15px;
}

input {
  height: 40px;
  width: 100px;
  border: 1px solid #000;
  margin-top: 10px;
  font-size: 35px;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 120px 30px 500px; */
  grid-template-columns: 25% 10% 65%;
  grid-gap: 15px 0px;
  margin-left: 25px;
}

.grid-item {
  border-bottom: 1px solid #ccc;
}

.bestelbutton {
  width: 100%;
  height: 250px;
  margin: 20px;
  font-size: 75px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-gap: 15px 0px;
  margin-left: 25px;
}

.grid-item-2 {
  border-bottom: 1px solid #ccc;
}

p.titel {
  font-weight: bold;
  font-size: 30px;
}

.grid-item-3 {
  border-bottom: 5px solid #ccc;
}

.grid-item-4 {
  /* border-top: 5px solid #ccc; */
}

p.confirmtext {
  font-weight: bold;
  font-size: 40px;
}

img.banner {
  width: 100%;
}
